<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341814711516-uhjkpemve5bmpdefqlp6vqjt1ome3ruq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341814711516-uhjkpemve5bmpdefqlp6vqjt1ome3ruq</string>
	<key>API_KEY</key>
	<string>AIzaSyC4lwczY2T2qPNL9bG2nZcgZgrqsrzmiQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>341814711516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codesmith.habitrac</string>
	<key>PROJECT_ID</key>
	<string>habitrac</string>
	<key>STORAGE_BUCKET</key>
	<string>habitrac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341814711516:ios:c8a40adcc9274543689019</string>
	<key>DATABASE_URL</key>
	<string>https://habitrac.firebaseio.com</string>
</dict>
</plist>